:root {
  padding: 10px;
  margin: auto;
}

body {
  width: 100%;
  background-color: black;
}

#map {
  width: 40vh;
  height: 40vh;
  margin-left: 1000px;
}

#navbar-logo {
  max-width: 80px;
  max-height: 80px;
}

.section2 {
  width: 100vh;
  height: auto;
  display: flex;
  flex-direction: row;
  border: 2px solid yellow;
  border-radius: 20px;
}

.card-image {
  min-height: 300px;
  min-width: 40%;
}