:root {
  padding: 10px;
  margin: 10px;
}

body {
  width: 100%;
  background-color: black;
}

#navbar-logo {
  max-width: 80px;
  max-height: 80px;
}

.section2 {
  width: 100vh;
  height: 800px;
  display: flex;
  flex-direction: row;
  border: 2px solid yellow;
  border-radius: 20px;
}

.section3 {
  width: 100vh;
  height: 800px;
  display: flex;
  flex-direction: row;
  border: 2px solid yellow;
  border-radius: 20px;
}

#location-image {
  max-width: 400px;
  max-height: 400px;
}

.card-image {
  min-height: 300px;
  min-width: 100%;
}

.logo-gif {
  max-width: 400px;
  max-height: 400px;
}

.logo.png {
  max-width: 200px;
  max-height: 200px;
}

.hide {
  display: none;
}

#map {
  width: 210vh;
  height: 70vh;
}

.tt-search-box {
  width: 210vh;
  height: 5vh;
}

li {
  list-style-type: none;
}

#flex {
  display: flex; 
  flex-direction: ; 
}

#listOne, #listTwo, #listThree, #listFour, #listFive { 
  width: 20%; 
  text-align: left; 
  color: white; 
} 
